/*canvas layout*/

html, body {
    touch-action:none;
    content-zooming:none;
    position:absolute;
    margin:0;
    padding:0;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#000;
}

#canvas {
    position: relative;
    left: 50%;
    top: 50%;
    width:600px;
    height:300px;
    margin-left: -300px;
    margin-top:-150px;
}

/* Analog clock Layout */
.main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
}

/* Digital clock layout */

.meter {
    justify-content: center;
}

/* Transparent box ensuring arms center properly. 
.sizing-box {
    fill: none;
}

/* Optional: Use transition for animation. 
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    transition: transform .5s ease-in-out;
} */
